@import "tailwindcss";

@theme {
  --color-bg-primary:	      #130e1a;
  --color-bg-secondary:	    #1e1628;
  --color-bg-muted:	        #2d213a;

  --color-fg-primary:	      #e9d5ff;
  --color-fg-secondary:	    #a892b9;
  --color-fg-muted:	        #6b5a75;

  --color-accent-primary:   #8211ba;
  --color-accent-secondary: #7c3aed;
  --color-accent-muted:     #2e1065;
  
  --color-border-subtle:	  #2e243d;
  --color-border-muted:	    #4a3b5e;
  --color-border-highlight:	#8b5cf6;
  --color-border-focus:	    #d946ef;
}

body {
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select:focus {
  outline: none;
}

select::selection,
select option::selection {
  background: var(--color-accent-secondary);
  color: white;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-bg-secondary) inset;
  -webkit-text-fill-color: var(--color-fg-primary);
}