@import "tailwindcss";

@theme {
  --color-bg-primary:	      #0f0a13;
  --color-bg-secondary:	    #18121f;
  --color-bg-muted:	        #261d30;

  --color-fg-primary:	      #e9d5ff;
  --color-fg-secondary:	    #a892b9;
  --color-fg-muted:	        #6b5a75;

  --color-accent-primary:   #9333ea;
  --color-accent-secondary: #7e22ce;
  --color-accent-muted:     #3b0764;
  
  --color-border-subtle:	  #271e36;
  --color-border-muted:	    #3f2f54;
  --color-border-highlight:	#7e22ce;
  --color-border-focus:	    #d946ef;

  --radius-xs: 0px;
  --radius-sm: 1px;
  --radius-md: 2px;
  --radius-lg: 3px;
  --radius-xl: 4px;
}

body {
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select:focus {
  outline: none;
}

select::selection,
select option::selection {
  background: var(--color-accent-secondary);
  color: white;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-bg-secondary) inset;
  -webkit-text-fill-color: var(--color-fg-primary);
}